<div class="adaptInteractiveMapPlaces {{uniqueName}}">
    <h4>{{displayTitle}}</h4>
    <div id="{{mapId}}">
        <div style="height: 100%"></div>
    </div>
    <!-- this is for editing purposes only -->
    <div id="{{mapId}}-invalid-list" style="display:none;background-color: coral; color: white; padding: 1rem;">
        You are looking for some places that Google Maps doesn't know or doesn't understand:
        <ul></ul>
        Try to reach the place by going back to editing mode and type a different place query.
    </div>
    {{{body}}}
</div>

